body {
  background: url('/img/hexabump.png');
}

#header {
  color: #FFF;
}
#header p {
  color: #EEE;
}

#map {
  height: 500px;
  width: 100%;
}
#side-panel {
  height: 460px;
  width: 100%;
}

#side-panel h3 {
  line-height: 25px;
  margin-top: 0;
}
