<html>
  <head>
    <!-- Libs -->
    <script src="/lib/js/jquery.js" type="text/javascript"></script>
    <script src="/lib/js/json2.js" type="text/javascript"></script>
    <script src="/lib/js/underscore.js" type="text/javascript"></script>
    <script src="/lib/js/backbone.js" type="text/javascript"></script>
    <script src="/lib/js/backbone.marionette.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/lib/css/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/lib/css/leaflet.ie.css" />
    <![endif]-->

    <script src="/lib/js/leaflet.js"></script>


    <script src="/js/pica.js.js" type="text/javascript"></script>

    <!-- Backbone -->
    <!-- Model -->
    <script src="/js/models/calculated_layer_stat.js.js" type="text/javascript"></script>
    <script src="/js/models/polygon.js.js" type="text/javascript"></script>

    <!-- Controllers -->
    <script src="/js/controllers.js.js" type="text/javascript"></script>
    
    <!-- Views -->
    <script src="/js/views/draw_or_load_view.js.js" type="text/javascript"></script>
    <script src="/js/views/map_edit_view.js.js" type="text/javascript"></script>
    <script src="/js/views/calculated_layer_stat_views.js.js" type="text/javascript"></script>
    <script src="/js/views/polygons/new_polygon_view.js.js" type="text/javascript"></script>


    <!-- Templates -->
    <script type="text/template" id="new-polygon-view-tmpl">
      <input type="submit" value="Analyse">
    </script>

    <script type="text/template" id="calculated-layer-stats-tmpl">
      <h2>Stats:</h2>
      <ul id="calculated-layer-stats-list"></ul>
    </script>

    <script type="text/template" id="calculated-layer-stat-tmpl">
      <h4><%= name %>:</h4><span><%= value %></span>
    </script>

    <script type="text/javascript">
      $(function() {
        Pica.start();
      })
    </script>
  </head>
  <body>
    <div id="map" style="float:left;height: 500px; width: 500px"></div>
    <div id="side-panel" style="float:left;"></div>
  </body>
</html>
